:root {
  --main-color: #002244;
  --second-bg: #c0bfd2;
  --third-bg: #132c50;
  --white-bg: #fff;
  --dark-text: #002244;
  --light-text: #c0bfd2;
  --white-text: #fff;
}
/* ------------------------------------------------------------------------------------------ */

/* TESTING 1 */
/* :root {
  --main-color: #88ab8e;
  --second-bg: #eee7da;
  --third-bg: #afc8ad;
  --white-bg: #afc8ad;
  --dark-text: #88ab8e;
  --light-text: #eee7da;
  --white-text: #fff;
} */
/* ------------------------------------------------------------------------------------------ */

/* Testing 2 */
/* :root {
  --main-color: #4F6F52;
  --second-bg: #D2E3C8;
  --third-bg: #739072;
  --white-bg: #afc8ad;
  --dark-text: #4F6F52;
  --light-text: #D2E3C8;
  --white-text: #fff;
} */
/* ------------------------------------------------------------------------------------------ */

/* Testing 3 */
/* :root {
  --main-color: #164863;
  --second-bg: #9bbec8;
  --third-bg: #427d9d;
  --white-bg: #fff;
  --dark-text: #164863;
  --light-text: #9bbec8;
  --white-text: #fff;
}
/* Second version */
/* :root { 
  --main-color: #164863;
  --second-bg: #ddf2fd;
  --third-bg: #132c50;
  --white-bg: #fff;
  --dark-text: #164863;
  --light-text: #ddf2fd;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */

/* Green Testing */
/* :root { 
  --main-color: #163020;
  --second-bg: #B6C4B6;
  --third-bg: #304D30;
  --white-bg: #fff;
  --dark-text: #163020;
  --light-text: #B6C4B6;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #163020;
  --second-bg: #EEF0E5;
  --third-bg: #304D30;
  --white-bg: #fff;
  --dark-text: #163020;
  --light-text: #EEF0E5;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */

/* Orange Testing */
/* :root { 
  --main-color: #6B240C;
  --second-bg: #F5CCA0;
  --third-bg: #994D1C;
  --white-bg: #fff;
  --dark-text: #6B240C;
  --light-text: #F5CCA0;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #6B240C;
  --second-bg: #E48F45;
  --third-bg: #994D1C;
  --white-bg: #fff;
  --dark-text: #6B240C;
  --light-text: #E48F45;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */

/*  Blue Testing */
/* :root { 
  --main-color: #092635;
  --second-bg: #9EC8B9;
  --third-bg: #1B4242;
  --white-bg: #fff;
  --dark-text: #092635;
  --light-text: #9EC8B9;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #092635;
  --second-bg: #5C8374;
  --third-bg: #1B4242;
  --white-bg: #fff;
  --dark-text: #092635;
  --light-text: #5C8374;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
/*  Purple Testing */
/* :root { 
  --main-color: #392467;
  --second-bg: #FFD1E3;
  --third-bg: #5D3587;
  --white-bg: #fff;
  --dark-text: #392467;
  --light-text: #FFD1E3;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #392467;
  --second-bg: #A367B1;
  --third-bg: #5D3587;
  --white-bg: #fff;
  --dark-text: #392467;
  --light-text: #A367B1;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
/*  Dark Blue Testing */
/* :root { 
  --main-color: #0F044C;
  --second-bg: #EEEEEE;
  --third-bg: #141E61;
  --white-bg: #fff;
  --dark-text: #0F044C;
  --light-text: #EEEEEE;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #0F044C;
  --second-bg: #787A91;
  --third-bg: #141E61;
  --white-bg: #fff;
  --dark-text: #0F044C;
  --light-text: #787A91;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
/*  Black/Purple Testing */
/* :root { 
  --main-color: #000000;
  --second-bg: #892CDC;
  --third-bg: #52057B;
  --white-bg: #fff;
  --dark-text: #000000;
  --light-text: #892CDC;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #000000;
  --second-bg: #BC6FF1;
  --third-bg: #52057B;
  --white-bg: #fff;
  --dark-text: #000000;
  --light-text: #BC6FF1;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
/*  Dark/Blue Testing */
/* :root { 
  --main-color: #1B262C;
  --second-bg: #3282B8;
  --third-bg: #0F4C75;
  --white-bg: #fff;
  --dark-text: #1B262C;
  --light-text: #3282B8;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #1B262C;
  --second-bg: #BBE1FA;
  --third-bg: #0F4C75;
  --white-bg: #fff;
  --dark-text: #1B262C;
  --light-text: #BBE1FA;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
/*  Black/Light Testing */
/* :root { 
  --main-color: #000000;
  --second-bg: #F4EAE0;
  --third-bg: #F4DFC8;
  --white-bg: #fff;
  --dark-text: #000000;
  --light-text: #F4EAE0;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #000000;
  --second-bg: #FAF6F0;
  --third-bg: #F4DFC8;
  --white-bg: #fff;
  --dark-text: #000000;
  --light-text: #FAF6F0;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
/*  Dark Green Testing */
/* :root { 
  --main-color: #040D12;
  --second-bg: #5C8374;
  --third-bg: #183D3D;
  --white-bg: #fff;
  --dark-text: #040D12;
  --light-text: #5C8374;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #040D12;
  --second-bg: #93B1A6;
  --third-bg: #183D3D;
  --white-bg: #fff;
  --dark-text: #040D12;
  --light-text: #93B1A6;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
/*  Light Blue Testing */
/* :root { 
  --main-color: #C4DFDF;
  --second-bg: #E3F4F4;
  --third-bg: #D2E9E9;
  --white-bg: #fff;
  --dark-text: #C4DFDF;
  --light-text: #E3F4F4;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #C4DFDF;
  --second-bg: #F8F6F4;
  --third-bg: #D2E9E9;
  --white-bg: #fff;
  --dark-text: #C4DFDF;
  --light-text: #F8F6F4;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
/*  Light Purple Testing */
/* :root { 
  --main-color: #7286D3;
  --second-bg: #E5E0FF;
  --third-bg: #8EA7E9;
  --white-bg: #fff;
  --dark-text: #7286D3;
  --light-text: #E5E0FF;
  --white-text: #fff;
}  */
/* Version 2 */
/* :root { 
  --main-color: #7286D3;
  --second-bg: #FFF2F2;
  --third-bg: #8EA7E9;
  --white-bg: #fff;
  --dark-text: #7286D3;
  --light-text: #FFF2F2;
  --white-text: #fff;
}  */
/* ------------------------------------------------------------------------------------------ */
