:root {
  --main-color: #002244;
  --second-bg: #c0bfd2;
  --third-bg: #132c50;
  --white-bg: #fff;
  --dark-text: #002244;
  --light-text: #c0bfd2;
  --white-text: #fff;
}

/* TESTING 1 */
/* :root {
  --main-color: #88ab8e;
  --second-bg: #eee7da;
  --third-bg: #afc8ad;
  --white-bg: #afc8ad;
  --dark-text: #88ab8e;
  --light-text: #eee7da;
  --white-text: #fff;
} */

/* Testing 2 */
/* :root {
  --main-color: #4F6F52;
  --second-bg: #D2E3C8;
  --third-bg: #739072;
  --white-bg: #afc8ad;
  --dark-text: #4F6F52;
  --light-text: #D2E3C8;
  --white-text: #fff;
} */
