* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}
.s1,
.s2,
.s3,
.s4 {
  border: 0px solid black;
  display: flex;
  align-items: center;
}
.s1 .inner-section,
.s2 .inner-section,
.s3 .inner-section,
.s4.inner-section {
  width: 50%;
}
.fotoja1 {
  border: 0px solid black;
  margin-left: auto;
  margin-right: auto;
  height: 403px;
  width: 302px;
}
.fotoja1 img {
  height: 100%;
  width: 100%;
}
.fotoja2 {
  border: 0px solid black;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 650px;
}
.fotoja2 img {
  height: 100%;
  width: 100%;
}
.fotoja3 {
  border: 0px solid black;
  margin-left: auto;
  margin-right: auto;
  height: 403px;
  width: 302px;
}
.fotoja3 img {
  height: 100%;
  width: 100%;
}
.text {
  border-width: 2px solid #0b2447;
  padding: 18px;
  border-radius: 10px;
}

h3 {
  color: #0b2447;
  border: 2px solid #0b2447;
  border-radius: 10px;
}

.inner-section {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text {
  background-color: #0b2447;
  color: white;
  text-align: left;
}
