#main {
  display: flex;
  justify-content: center;
}

.main-content {
  min-height: auto;
  width: 400px;
  /* border: 3px solid red; */
  flex: 5.5;
  display: flex;
  flex-direction: column;
  /* margin-left: 250px; */
}

#asosacioni,
#kuizi,
#loja1,
#loja2 {
  border: 10px double black;
  flex: 1;
  padding: 20px;
  flex-basis: 100vh;
}
/* Asosacioni start */
#asosacioni {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.asosacioni-text {
  /* border: 1px dotted black; */
  width: 100%;
  /* flex: 1; */
  padding: 15px 50px;
}

.asosacioni-text h3 {
  text-align: center;
}

.asosacioni-buttons {
  /* border: 1px dotted black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.asosacioni-button,
.reset-button {
  /* background-color: #002244; */
  background-color: #19376d;
  color: white;
  padding: 10px 30px;
  margin: 30px;
  min-width: 150px;
}

#asosacioni .active {
  background-color: #002244;
  /* opacity: 0.5; */
  color: white;
  padding: 10px 30px;
  margin: 30px;
  min-width: 150px;
}

.asosacioni-button:hover,
.reset-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.asosacioni-content {
  /* border: 1px dotted black; */
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asosacioni-table-container {
  /* border: 5px solid pink; */
  width: 900px;
}

#asosacioni .row {
  display: flex;
}

.cell,
.final-cell {
  border: 1px solid white;
  width: 300px;
  height: 70px;
  background-color: #002244;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#final-cell {
  width: 100%;
}

.cell:hover,
.final-cell:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* Asosacioni end */

/* Kuizi start*/
#kuizi {
  /* border: 10px double black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.kuizi-text {
  /* border: 2px dotted greenyellow; */
  width: 100%;
  /* flex: 1; */
  padding: 15px 50px;
}

.kuizi-text h3 {
  text-align: center;
}

/* .start-screen,
#display-container,
.score-container {
  border: 2px dashed blue;
} */

.start-screen,
.score-container {
  /* border: 5px solid orange; */

  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
#start-button,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
}
#restart {
  margin-top: 0.9em;
}
#display-container {
  background-color: #ffffff;
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: auto;
  position: relative;
  /* transform: translate(-50%, -50%); */
  /* top: 50%; */
  /* left: 50%; */
  border-radius: 0.6em;
}
.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}
.timer-div {
  background-color: #e1f5fe;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}
.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}
.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}
.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}
#next-button {
  font-size: 1em;
  margin-top: 1.5em;
  background-color: #0a69ed;
  color: #ffffff;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
  float: right;
}
.hide {
  display: none;
}
.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}
.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}
#user-score {
  font-size: 1.5em;
  color: #ffffff;
}
/* Kuizi end*/

/* Loja1 start */

/* Loja1 end */

/* Memory game start */
#grid {
  /* border: 1px solid black; */
  height: 450px;
  width: 580px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

#grid img {
  min-width: 110px;
}

.card-bg {
  background-color: #002244;
}
/* Memory game end */
