#main {
  display: flex;
  justify-content: center;
}

.main-content {
  min-height: auto;
  width: 400px;
  /* border: 3px solid red; */
  flex: 5.5;
  display: flex;
  flex-direction: column;
  /* margin-left: 250px; */
}

#asosacioni,
#kuizi,
#loja1,
#loja2 {
  border: 1px dotted black;
  flex: 1;
  padding: 20px;
  flex-basis: 100vh;
}

#asosacioni {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.asosacioni-text {
  /* border: 1px dotted black; */
  width: 100%;
  /* flex: 1; */
  padding: 15px 50px;
}

.asosacioni-text h3 {
  text-align: center;
}

.asosacioni-buttons {
  /* border: 1px dotted black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.asosacioni-button,
.reset-button {
  /* background-color: #002244; */
  background-color: #19376d;
  color: white;
  padding: 10px 30px;
  margin: 30px;
  min-width: 150px;
}

#asosacioni .active {
  background-color: #002244;
  /* opacity: 0.5; */
  color: white;
  padding: 10px 30px;
  margin: 30px;
  min-width: 150px;
}

.asosacioni-button:hover,
.reset-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.asosacioni-content {
  /* border: 1px dotted black; */
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asosacioni-table-container {
  /* border: 5px solid pink; */
  width: 900px;
}

#asosacioni .row {
  display: flex;
}

.cell,
.final-cell {
  border: 1px solid white;
  width: 300px;
  height: 70px;
  background-color: #002244;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#final-cell {
  width: 100%;
}

.cell:hover,
.final-cell:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* Drawing app start */

#loja1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: #4a98f7; */
}
.container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}
#loja1 section {
  background: #fff;
  border-radius: 7px;
  border: 1px solid #4a98f7;
}
.tools-board {
  width: 210px;
  padding: 15px 22px 0;
}
.tools-board .row {
  margin-bottom: 20px;
}
.row .options {
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option {
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}
.option :where(span, label) {
  color: #5a6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
  color: #4a98f7;
}
.option #fill-color {
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label {
  color: #4a98f7;
}
.option #size-slider {
  width: 100%;
  height: 5px;
  margin-top: 10px;
}
.colors .options {
  display: flex;
  justify-content: space-between;
}
.colors .option {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1) {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
  background-color: #000;
}
.colors .option:nth-child(3) {
  background-color: #e02020;
}
.colors .option:nth-child(4) {
  background-color: #6dd400;
}
.colors .option:nth-child(5) {
  background-color: #4a98f7;
}
.colors .option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
  border-color: #ccc;
}
.option #color-picker {
  opacity: 0;
  cursor: pointer;
}
.buttons button {
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas {
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: all 0.3s ease;
}
.clear-canvas:hover {
  color: #fff;
  background: #6c757d;
}
.buttons .save-img {
  background: #4a98f7;
  border: 1px solid #4a98f7;
}
.drawing-board {
  flex: 1.5;
  overflow: hidden;
}
.drawing-board canvas {
  width: 100%;
  height: 100%;
}

/* Drawing app end */
